$black: #333333;
$gray-1: #ebebeb;
$gray-2: #bdbdbd;
$gray-3: #828282;
$blue: #3483fa;
$yellow: #fff159;

$box-shadow-1: rgba(149, 157, 165, 0.1) 0px 8px 24px;
$box-shadow-2: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$font-size-lg: 2rem;
$font-size-md: 1.5rem;
$font-size-sm: 1rem;
