.btn {
  padding: 0.5rem 0;
  width: 100%;
  font-weight: 200;
  border-radius: 0.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  outline: 0;
  text-transform: capitalize;
  transition: 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
