@import '../../assets/styles/variables';

.breadCrumbContainer {
  display: flex;
  flex-direction: column;
  background-color: $gray-1;
  margin: 1rem 1rem 0 1rem;

  li {
    font-size: $font-size-smmd;
    color: $gray-3;

    &:last-child {
      font-weight: bold;
    }

    &:not(:last-child)::after {
      content: '>';
      margin-left: 0.5rem;
    }
  }

  @media (min-width: 1366px) {
    max-width: 84rem;
    margin: 1rem auto;
  }
  @media (min-width: 768px) {
    flex-direction: row;

    li {
      margin-right: 0.5rem;
    }
  }
}
