$black: #333333;
$white: #ffffff;
$gray-1: #ebebeb;
$gray-2: #bdbdbd;
$gray-3: #828282;
$blue: #3483fa;
$yellow: #fff159;

$box-shadow-1: rgba(149, 157, 165, 0.1) 0px 8px 24px;
$box-shadow-2: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$font-size-elg: 2.5rem;
$font-size-lg: 2rem;
$font-size-md: 1.5rem;
$font-size-emd: 1.25rem;
$font-size-sm: 1rem;
$font-size-esm: 0.7rem;

:export {
  black: #333333;
  white: #ffffff;
  gray1: #ebebeb;
  gray2: #bdbdbd;
  gray3: #828282;
  blue: #3483fa;
  yellow: #fff159;

  boxShadow1: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  boxShadow2: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  font-size-elg: 3rem;
  fontSizeLg: 2rem;
  fontSizeMd: 1.5rem;
  fontSizeEmd: 1.25rem;
  fontSizeSm: 1rem;
  fontSizeEsm: 0.7rem;
}
